.icon_02, .icon_03, .icon_04, .icon_05, .icon_06{

	background: url(sprites.png) no-repeat;

}


.icon_02{
	background-position: 0 0;
	width: 48px;
	height: 48px;
}

.icon_03{
	background-position: 0 -50px ;
	width: 48px;
	height: 48px;
}

.icon_04{
	background-position: 0 -100px ;
	width: 48px;
	height: 48px;
}

.icon_05{
	background-position: 0 -150px ;
	width: 48px;
	height: 48px;
}

.icon_06{
	background-position: 0 -200px ;
	width: 48px;
	height: 48px;
}

